language: node_js
cache:
  directories:
    # https://twitter.com/maybekatz/status/905213355748720640
    - ~/.npm
node_js:
  - '10'

branches:
  only:
    - master

stages:
  - test

jobs:
  include:
    - stage: test
      script: npm run test:verify
      after_success: npm run coverage